doctype html
html

  head
   title Remote View

  body
    button(onclick='initPeer()') create peer

  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script(src='js/vendor/socket.io.js')
  script(src='js/vendor/axios.js')
  script(src='js/vendor/simple-peer.js')
  script(src='js/createRoom.js')
  